
a.site-title {
  color: #e94399;
}
.page__title {
  color: #e94399;
}
.page__content a{
  text-decoration: none;
  }
div.archive__item-time {
  font-size: 0.6em;
  padding-left: 1em;
  }

.archive__item-title a {
  text-decoration: none;
  }
