
a.site-title,
.page__title {
  text-decoration: underline;
}
.page__content a{
  text-decoration: none;
  }
div.archive__item-time {
  font-size: 0.6em;
  padding-left: 1em;
  }

.archive__item-title a {
  text-decoration: none;
}
.highlight .n,
.highlight .nb{
  color: #e94399;
//   color: #41ff5b;
}

.page ul li, .page ol li {
	margin: 0;
}
