---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$background-color: #282c34;
$footer-background-color: #282c34;
$text-color: #abb2bf;
$link-color: #e94399;
$github-color: #777777;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
@import "highlight";
@import "tomdeb";
